version: '3.8'

services:
  # Service Aplikasi Utama
  rag-app:
    build: .
    container_name: rag_app_container
    ports:
      - "8000:8000"
    environment:
      # Override config Qdrant URL agar menunjuk ke service name 'qdrant'
      - QDRANT_URL=http://qdrant:6333
      - APP_NAME=Learning RAG Demo Docker
      - APP_VERSION=1.0.0
      - QDRANT_COLLECTION_NAME=demo_collection
      - VECTOR_SIZE=128
    depends_on:
      - qdrant
    volumes:
      - ./:/app
    restart: unless-stopped   # <--- Auto restart ketika server/computer hidup lagi

  # Service Qdrant Database
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant_container
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage
    restart: unless-stopped   # <--- Auto restart

volumes:
  qdrant_data:
